<!-- /templates/reset_password.liquid -->
{% layout settings.customer_layout %}

{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
<script>
  if (window.location.protocol != "https:") {
    window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
  }
  
  function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
          results = regex.exec(location.search);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }
  
  $(document).ready(function(e) {
    var email = getParameterByName('email');
    var reset_token = getParameterByName('token');
    $('#subtext').text("Enter a new password for " + email);
    $('#token_input').val(reset_token);
    
    
    $('form#reset_password').submit(function(e) {
      e.preventDefault();
      var form = $(this);
      
      $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: form.serialize(),
        success: function(data, status, xhr) {
          var multipass = data['multipass'];
          location.href = "/account/login/multipass/" + multipass;
        },
        error: function(xhr, status, error) {
          var errorMessage = JSON.parse(xhr.responseText)['errors'][0];
          var errorDiv = $("<div class='errors'>");
          var ul = $("<ul>");
          var li = $("<li>");
          
          li.text(errorMessage);
          ul.append(li);
          errorDiv.append(ul);
          form.prepend(errorDiv)
        }
      });
      
    });
  });
</script>

<div class="grid">
  <div class="grid__item large--one-third push--large--one-third">

    <div class="form-vertical">
      <form method="post" action="https://api.lets.rageon.com/passwords/reset.json" id="reset_password" accept-charset="utf-8">

        <h1>{{ 'customer.reset_password.title' | t }}</h1>

        <p id="subtext"></p>
        
        <input type="hidden" id="token_input" name="token" value="">

        <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
        <input type="password" value="" name="password" id="ResetPassword" class="input-full" placeholder="{{ 'customer.reset_password.password' | t }}">

        <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input type="password" value="" name="password_confirmation" id="PasswordConfirmation" class="input-full" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

        <div class="text-center">
          <input type="submit" class="btn btn--full" value="{{ 'customer.reset_password.submit' | t }}">
        </div>

      </form>
    </div>

  </div>
</div>